<section class="app" fxLayout="column" fxLayoutAlign="start stretch">
    <md-sidenav-container fxFlex>
        <md-sidenav mode="side" opened class="mat-elevation-z6">
            <md-toolbar color="primary">
                <span>Custom Toolbar</span>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Menu Item</span>
                </md-toolbar-row>
            </md-toolbar>
        </md-sidenav>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</section>
